# Arquivos do sistema
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Pastas de IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de log e temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.agents/
.gemini/

# Arquivos de trava do LibreOffice/Office
.~lock.*#
